
#c1{
    opacity: .5;
    
}

#c1:hover{
    opacity: 1;
}

#c2{
    opacity: .5;
}

#c2:hover{
    opacity: 1;
}

#c3{
    opacity: .5;
}
#c3:hover{
    opacity: 1;
}

#c4{
    opacity: .5;
}
#c4:hover{
    opacity: 1;
}

h1{
    color:white;
    
}

h2{
    color:white;
    
}

h3{
    color:white;
    
}

p{
    color:white;
    
}